
.icon-plus:before { content: '\e81a'; } /* '' */
.icon-pause:before { content: '\e806'; } /* '' */
.icon-fast-fw:before { content: '\e80b'; } /* '' */
.icon-fast-bw:before { content: '\e80c'; } /* '' */
.icon-to-end:before { content: '\e807'; } /* '' */
.icon-to-start:before { content: '\e809'; } /* '' */
.icon-stop:before { content: '\e805'; } /* '' */
.icon-up-dir:before { content: '\e835'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e837'; } /* '' */
.icon-down-dir:before { content: '\e834'; } /* '' */
.icon-left-dir:before { content: '\e836'; } /* '' */
.icon-music:before { content: '\e821'; } /* '' */
.icon-cog:before { content: '\e815'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-plus-circled:before { content: '\e81b'; } /* '' */
.icon-ccw:before { content: '\e80e'; } /* '' */
.icon-cw:before { content: '\e80d'; } /* '' */
.icon-cancel-circled2:before { content: '\e819'; } /* '' */
.icon-export:before { content: '\e82a'; } /* '' */
.icon-resize-full:before { content: '\e82d'; } /* '' */
.icon-zoom-in:before { content: '\e830'; } /* '' */
.icon-zoom-out:before { content: '\e831'; } /* '' */
.icon-down-circled2:before { content: '\e832'; } /* '' */
.icon-up-circled2:before { content: '\e833'; } /* '' */
.icon-arrows-cw:before { content: '\e80f'; } /* '' */
.icon-play-circled2:before { content: '\e804'; } /* '' */
.icon-to-end-alt:before { content: '\e808'; } /* '' */
.icon-to-start-alt:before { content: '\e80a'; } /* '' */
.icon-move:before { content: '\e82f'; } /* '' */
.icon-resize-full-alt:before { content: '\e82e'; } /* '' */
.icon-exchange:before { content: '\e812'; } /* '' */
.icon-download-cloud:before { content: '\e828'; } /* '' */
.icon-upload-cloud:before { content: '\e829'; } /* '' */
.icon-smile:before { content: '\e839'; } /* '' */
.icon-frown:before { content: '\e83a'; } /* '' */
.icon-meh:before { content: '\e83b'; } /* '' */
.icon-mic:before { content: '\e816'; } /* '' */
.icon-mute:before { content: '\e81d'; } /* '' */
.icon-play-circled:before { content: '\e803'; } /* '' */
.icon-level-up:before { content: '\e838'; } /* '' */
.icon-level-down:before { content: '\e810'; } /* '' */
.icon-export-alt:before { content: '\e82b'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e824'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e825'; } /* '' */
.icon-thumbs-up:before { content: '\e822'; } /* '' */
.icon-thumbs-down:before { content: '\e823'; } /* '' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-upload:before { content: '\e827'; } /* '' */
.icon-download:before { content: '\e826'; } /* '' */
.icon-shuffle:before { content: '\e811'; } /* '' */
.icon-volume-off:before { content: '\e818'; } /* '' */
.icon-volume-down:before { content: '\e81c'; } /* '' */
.icon-volume-up:before { content: '\e81e'; } /* '' */
.icon-search:before { content: '\e820'; } /* '' */
.icon-clock:before { content: '\e81f'; } /* '' */
.icon-block:before { content: '\e82c'; } /* '' */